<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/forget.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body ng-app="login" ng-controller="loginCtrl">

    <div class="page-header">
        <center>
            <label style="font-size:60px;color:white">Music Liberary</label>
        </center>
    </div>
    <h1>
        <center style="color:white ; margin-top:20px">Forget Password</center>
    </h1>
    <div id="log">

        <form name="myForm" style="margin:20px" class="" id="up">


            <input type="text" name="un" style="height:30px;margin-top:50px;border-radius:5px;border:1px solid black" size = 40 placeholder="enter Email or Mobile No."
                required/>

            <input type="text" name="un" style="height:30px;margin-top:30px;border-radius:5px;border:1px solid black" size = 40 placeholder="New Password ****"
                required />


            <input type="Submit" id="button" value="submit" class="btn btn-info">

            <input type="reset" style="margin-top:40px;border-radius: 10px;height:40px" value="Cancle" class="btn btn-info">

        </form>
    </div>
</body>

</html>
