<head>
  <link rel="stylesheet" href="..\css\home.css">
</head>

<body>
  <div id="log">
    <br>
    <form id="up">

      <center>
        <h1>
          <u>About</u>
        </h1>
      </center>
      <br>
      <br>
      <h4>
        <p>This list of free music apps will put hundreds of free streaming music at your fingertips. Install them onto your
          smartphone or tablet and you'll be ready to watch the free music of your choice in only a few minutes time. Not
          only do these free music apps allow you to lisen music , but many also allow you to watch free streaming TV shows
          right from your phone or tablet. This is a great way to catch up on your favorite shows when you're on the go.
          The free movies you can access from the free movie apps include comedy, action, horror, drama, documentary, family,
          and many other types of films. There really is something for everyone.

        </p>
      </h4>
  </div>
  </form>
  </div>
</body>

</html>